extends ../layout

block content
  script.
    ga('sbb.send', 'event', 'Users', 'View', 'user_#{profile._id}');
  include ../templates/products.grid.jade
  .container.container-clean.pb10.pt0.mt0
    .row
      .col-sm-2
        a(href='#{profile.getExternalLink()}', target='_blank', onclick="ga('sbb.send', 'event', 'Users', 'Retraffic', 'user_#{profile._id}');")
          img.img-rounded.img-responsive(src='#{profile.gravatar()}', style='border-bottom-left-radius:0;border-bottom-right-radius:0;width:100%;')
        .clearfix
          if (!isOwner&&profile.isVerified)
            .clearfix(class=(!isOwner&&!profile.isFollowing)?'':'hid', id='action-btn-follow-#{profile.id}')
              a.btn.btn-danger.bind.btn-block(style='border-top-left-radius:0;border-top-right-radius:0', href='#{profile.getExternalLink()}', target='_blank', onclick="ga('sbb.send', 'event', 'Users', 'Retraffic', 'user_#{profile._id}');")
                i.fa.fa-rss
                | Mój blog
          //- if (!isOwner&&profile.isVerified)
            .clearfix(class=(!isOwner&&!profile.isFollowing)?'':'hid', id='action-btn-follow-#{profile.id}')
              a.btn.btn-danger.bind.btn-block(style='border-top-left-radius:0;border-top-right-radius:0', href='', onclick='observable.trigger("userFollow", {followee_id:"#{profile.id}", follower_id:"#{user?user.id:""}"})')
                i.fa.fa-plus
                | #{__('Subscribe')}
            .clearfix(style='padding-left:0', class=(profile.isFollowing)?'':'hid', id='action-btn-unfollow-#{profile.id}')
              a.btn.btn-primary.bind.btn-block(style='border-top-left-radius:0;border-top-right-radius:0', href='', onclick='observable.trigger("userUnfollow", {followee_id:"#{profile.id}", follower_id:"#{user?user.id:""}"})')
                i.fa.fa-check
                | #{__('Subscribed')}
          if (isOwner&&profile.isVerified)
            .clearfix(style='padding-left:0')
              a.btn.btn-primary.btn-block(style='border-top-left-radius:0;border-top-right-radius:0', href='/settings')
                i.fa.fa-cog
                | #{__('Settings')}

      .col-sm-10
        .row
          .col-sm-12
            .clearfix.mt20.hidden-lg.hidden-md.hidden-sm
            h3.mt0
              a(href='#{profile.getExternalLink()}', onclick="ga('sbb.send', 'event', 'Users', 'Retraffic', 'user_#{profile._id}');") #{profile.getName()}
        - if (profile.isVerified)
          .row
            .col-sm-12
              ul.list-unstyled.list-inline.m0.list-on-left
                - if (profile.blogger.last12mPageUniqueUsers)
                  li
                    a.btn.btn-sm.btn-default.bind(href='',)
                      span.imp #{formatNumber(profile.blogger.last12mPageUniqueUsers)} użytkowników
                - if (profile.blogger.last12mPageUniqueViews)
                  li
                    a.btn.btn-sm.btn-default.bind(href='',)
                      span.imp #{formatNumber(profile.blogger.last12mPageUniqueViews)} odsłon
                //- - if (profile.meta.followers)
                  li
                    a.btn.btn-sm.btn-default(href='#{profile.getExternalLink()}', target='_blank', onclick="ga('sbb.send', 'event', 'Users', 'Retraffic', 'user_#{profile._id}');")
                      small #{profile.meta.followers} subskrypcji
                - if (profile.profile.website)
                  li
                    a.btn.btn-sm.btn-default(href='#{profile.getExternalLink()}', target='_blank', onclick="ga('sbb.send', 'event', 'Users', 'Retraffic', 'user_#{profile._id}');")
                      i.fa.fa-rss
                      span.small #{profile.getCleanLink()}
                - if (profile.links.twitter)
                  li
                    a.btn.btn-sm.btn-default.btn-icon(href='#{profile.links.twitter}', target='_blank')
                      i.fa.fa-twitter
                - if (profile.links.instagram)
                  li
                    a.btn.btn-sm.btn-default.btn-icon(href='#{profile.links.instagram}', target='_blank')
                      i.fa.fa-instagram
                - if (profile.links.facebook)
                  li
                    a.btn.btn-sm.btn-default.btn-icon(href='#{profile.links.facebook}', target='_blank')
                      i.fa.fa-facebook
                - if (profile.links.youtube)
                  li
                    a.btn.btn-sm.btn-default.btn-icon(href='#{profile.links.youtube}', target='_blank')
                      i.fa.fa-youtube
                - if (isOwner)
                  li
                    a.btn.btn-sm.btn-default(href='/widgets/blogger?eid=#{profile.id}')
                      i.fa.fa-code
                      spam.imp Pobierz widget
              .clearfix.mt5
                p.m0.small.notimp
                  i.fa.fa-info-circle
                  | Informacje o liczbie użytkowników i odsłon są podawane w skali miesięcznej.
        if (profile.isVerified&&profile.profile.about)
          .row.mt5
            .col-sm-12
              p.m0 #{profile.profile.about}
        else
          if user&&isOwner
            .row.mt5
              .col-sm-12
                p.m0.notimp
                  a.notimp(href='/settings')
                    i.fa.fa-warning
                    | Napisz kilka zdań o sobie, blogu i czytelnikach. Taka informacja jest pomocna w prezentowaniu Twojego bloga potencjalnym reklamodawcom - kliknij aby edytować.
        //- if (profile.isVerified)
          .row.mt10
            .col-sm-12
              .pull-left.mr10
                .fb-like(data-href="#{sbb.website}/#{profile.permalink}", data-layout="button", data-action="recommend", data-show-faces="true", data-share="false")
              .pull-left
                a.twitter-share-button(href="https://twitter.com/share", data-url="#{sbb.website}/#{profile.permalink}", data-via="shopbyblog", data-count="none")


  .container.container-grid.pb0.mb20.pt0
    .col-sm-12
      .row
        .clearfix
          #results-area

  #empty.container.container-clean.pb0.mt100.hid
    .clearfix.mt0.mb15
      if !user
        h4.m0.align-center Brak produktów
      else
        h4.m0.align-center
          a(href='/add')
            i.fa.fa-plus
            | Dodaj pierwszy produkt...

  //- if !user
    .container-wide.mb20(style='height:auto;display:block;background:black url(/img/bg-#{bg_id}.jpg) no-repeat 50% top;background-size:cover;')
      .container-floor(style='height:100%;')
        .clearfix(class=!user?'with-floor':'')
          .container.pb0.hidden-xs
            .clearfix.container-fix2.container-fb2.p20
              .row
                .col-sm-12
                  .clearfix.align-center
                    .row.mb20
                      include ../partials/home.headline.jade
                    .row
                      .col-sm-12
                        include ../partials/signup.inline.jade
                        include ../partials/signup.helpnav.jade


block js

  script.
    $(document).ready(function() {
      var SBB_PROFILE = !{JSON.stringify(profile)};

      var page = 0;

      window.getProducts = function(criteria) {
        if(!criteria) criteria = {}

        page++;
        criteria.page = page;

        SBBUser.getProducts(criteria, SBB_PROFILE.id, function(data) {

          var source = $("#grid-item-product-business-simple").html();

          var template = Handlebars.compile(source);

          var context = {products: data.products};
          var html    = template(context);

          $('#results-area').append(html);
          if(!data.products.length) $('#empty').removeClass('hid');
          SBB.initResizeGrid();
        });
      }

      if($('#results-area')) window.getProducts();
    })