extends ../layout

block content
  .container.p0
    .row
      .col-xs-12
        ul.nav.nav-tabs(role="tablist")
          li.active(role="presentation")
            a(href="#home", role="tab", data-toggle="tab") Mój profil
          //- li(role="presentation")
            a(href="#widget", role="tab", data-toggle="tab") Widget
          if user.isVerified
            //- li(role="presentation")
              a(href="#blog", role="tab", data-toggle="tab") Blog
            li(role="presentation")
              a(href="#insights", role="tab", data-toggle="tab") Rozliczenia
          li(role="presentation")
            a(href="#password", role="tab", data-toggle="tab") Hasło
          li(role="presentation")
            a(href="#linked", role="tab", data-toggle="tab") Konta społecznościowe
          //- li(role="presentation")
            <a href="#following" role="tab" data-toggle="tab">Following</a></li>
          li(role="presentation")
            a(href="#delete", role="tab", data-toggle="tab") Usuń profil
          //- <li role="presentation"><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
          //- <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
        //- </ul>

  .container.mt0.p0
    .col-xs-12.container-fix.mt0.tab-content
      .tab-pane(role="tabpanel", id="insights")
        //- .page-header.m0
          //- h3.m0 Insights

        .clearfix
          .clearfix
            table.table.table-bordered.m0.bg-clouds
              tr
                td.align-center(width='20%')
                  h2 #{user.meta.followers}
                  p Subskrypcji
                td.align-center(width='20%')
                  h2 #{user.meta.campaigns}
                  p #{__("Campaigns")}
                td.align-center(width='20%')
                  if user.business.baseCurrency=='PLN'
                    h2 #{sprintf('%0.2f', user.business.totalEstimatedRevenue)} zł
                  if user.business.baseCurrency=='EUR'
                    h2 &euro;#{sprintf('%0.2f', user.business.euro.totalEstimatedRevenue)}
                  p #{__("Estimated Revenue")}*
                td.align-center(width='20%')
                  if user.business.baseCurrency=='PLN'
                    h2 #{sprintf('%0.2f', user.business.totalRevenue)} zł
                  if user.business.baseCurrency=='EUR'
                    h2 &euro;#{sprintf('%0.2f', user.business.euro.totalRevenue)}
                  p Do wypłaty
                td.align-center(width='20%')
                  if user.business.baseCurrency=='PLN'
                    h2 #{sprintf('%0.2f', user.business.totalPaid)} zł
                  if user.business.baseCurrency=='EUR'
                    h2 &euro;#{sprintf('%0.2f', user.business.euro.totalPaid)}
                  p Wypłacono
            .clearfix.mt5
              p.m0.small.notimp Ostatnia aktualizacja: #{user.lastRefreshRevenueAt?moment(user.lastRefreshRevenueAt).format('DD/MM/YYYY HH:mm'):'-'}


        //- .clearfix.p10.bg-clouds.mt20
          p.m0
            i.fa.fa-question-circle
            a.imp(href='') Find out how to increase revenue with us.

        //- .clearfix.mt20
          .page-header.m0
            h3.m0 Views / Clicks &nbsp;
              small Current week
          .clearfix(style='height:300px;')
            canvas(id="canvas", height="300", width='100%')

        .clearfix.mt20
          .page-header.m0
            h3.m0 Kampanie
          if campaigns.length
            .clearfix.mt20
              table.table.table-bordered.m0(width='100%')
                thead
                  tr
                    th(width='10')
                    th(width='100%') Produkt/Link
                    th(width='180') Start/Koniec
                    th.align-right(width='100') Wyświetleń
                    th.align-right(width='100') Kliknięć
                    th
                tbody
                  each campaign, i in campaigns
                    tr
                      td
                        i.fa(class=campaign.ad.isLive?'fa-play color-green':'fa-stop notimp')
                      td
                        a(href='/product/#{campaign.ad.product.permalink}', target='_blank', class=campaign.ad.isLive?'':'notimp') #{campaign.ad.product.title.length>50?campaign.ad.product.title.substr(0, 50)+'...':campaign.ad.product.title}
                        br
                        a(href='/track/#{campaign.ad._id}', target='_blank', class=campaign.ad.isLive?'':'notimp') #{campaign.ad.url.length>50?campaign.ad.url.substr(0, 50)+'...':campaign.ad.url}
                      td(nowrap)
                        span(class=campaign.ad.isLive?'':'notimp') #{moment(campaign.ad.start).format('DD/MM/YYYY HH:mm')}
                        br
                        span(class=campaign.ad.isLive?'':'notimp') #{moment(campaign.ad.end).format('DD/MM/YYYY HH:mm')}
                      td.align-right(class=campaign.ad.isLive?'':'notimp') #{campaign.ad.meta.views}
                      td.align-right(class=campaign.ad.isLive?'':'notimp') #{campaign.ad.meta.clicks}
                      td
                        a(href='/ads/report?cid=#{campaign.ad._id}', class=campaign.ad.isLive?'':'notimp') Szczegóły
          else
            .clearfix.mt20
              .clearfix
                p.m0 Brak danych.

        //- .clearfix.mt20
          .page-header.m0
            h3.m0 Popular products
          .clearfix.mt20
            .clearfix
              p.m0 No data.

        .clearfix.mt20
          .page-header.m0
            h3.m0 Płatności
          .clearfix.mt20
            .clearfix
              p.m0 Brak danych.

        .clearfix.mt10
          small.notimp * Szacowany zysk jest wyliczany na bazie kampanii, które w tym momencie nie zostały jeszcze zakończne.

      .tab-pane(role='tabpanel', id='linked')
        .page-header.m0
          h3.m0 Połączone konta społecznościowe

        .clearfix.mt20
          if user.instagram
            p: a.text-danger(href='/settings/unlink/instagram') Rozłącz profil z kontem na Instagram
          else
            p: a(href='/auth/instagram') Połącz profil z Instagram

          if user.google
            p: a.text-danger(href='/settings/unlink/google') Rozłącz profil z kontem na Google
          else
            p: a(href='/auth/google') Połącz profil z Google

          if user.facebook
            p: a.text-danger(href='/settings/unlink/facebook') Rozłącz profil z kontem na Facebook
          else
            p: a(href='/auth/facebook') Połącz profil z Facebook

          if user.twitter
            p: a.text-danger(href='/settings/unlink/twitter') Rozłącz profil z kontem na Twitter
          else
            p: a(href='/auth/twitter') Połącz profil z Twitter

          //- if user.github
          //-   p: a.text-danger(href='/settings/unlink/github') Unlink your GitHub account
          //- else
          //-   p: a(href='/auth/github') Link your GitHub account

          //- if user.linkedin
          //-   p: a.text-danger(href='/settings/unlink/linkedin') Unlink your LinkedIn account
          //- else
          //-   p: a(href='/auth/linkedin') Link your LinkedIn account


      .tab-pane(role='tabpanel', id='delete')
        .page-header.m0
          h3.m0 Usuwanie profilu

        .clearfix.mt20
          p.m0 Możesz usunąć swój profil, pamiętaj, że usunięcie spowoduje utratę wszystkich zgromadzonych informacji. <strong>Wyślij do nas e-mail na adres #{__('hello@shopbyblog.com')} z prośbą o usunięcie profilu.</strong>
          form(action='/settings/delete', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            button.btn.btn-danger(type='submit')
              span.ion-trash-b
              | Delete my account

      .tab-pane(role='tabpanel', id='password')
        .page-header.m0
          h3.m0 Zmiana hasła

        .clearfix.mt20
          form.form-horizontal(action='/settings/password', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.col-sm-3.control-label(for='password') Nowe hasło
              .col-sm-4
                input.form-control(type='password', name='password', id='password', autocomplete='off')
            .form-group
              label.col-sm-3.control-label(for='confirmPassword') Powtórz hasło
              .col-sm-4
                input.form-control(type='password', name='confirmPassword', id='confirmPassword', autocomplete='off')
            .form-group
              .col-sm-offset-3.col-sm-4
                button.btn.btn.btn-primary(type='submit')
                  span.ion-locked
                  | Zmień hasło

      .tab-pane.active(role="tabpanel", id="home")
        .page-header.m0
          h3.m0 Profil

        .clearfix.mt20
          form.form-horizontal(action='/settings/profile', method='post', enctype='multipart/form-data')
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='removeBackground', id='removeBackground', value='0')
            if user.isVerified
              .form-group
                label.col-sm-2.control-label(for='email') Adres profilu
                .col-sm-4
                  p.form-control-static #{sbb.website}/#{user.permalink}
            //- .form-group
              label.col-sm-2.control-label(for='email') Permalink
              .col-sm-4
                p.form-control-static #{user.permalink}
            .form-group
              label.col-sm-2.control-label(for='email') Email
              .col-sm-4
                input.form-control(type='email', name='email', id='email', value='#{user.email}', autocomplete='off')
            .form-group
              label.col-sm-2.control-label(for='name') Imię, Nazwisko lub Nazwa
              .col-sm-10
                input.form-control(type='text', name='name', id='name', value='#{user.profile.name}', autocomplete='off')
            .form-group
              label.col-sm-2.control-label(for='gender') Płeć
              .col-sm-4(style='padding-left:35px;')
                label.radio
                  input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
                  span Kobieta
                label.radio
                  input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
                  span Mężczyzna
            .form-group
              label.col-sm-2.control-label(for='location') Miasto
              .col-sm-4
                input.form-control(type='text', name='location', id='location', value='#{user.profile.location}', autocomplete='off')
            .form-group
              label.col-sm-2.control-label(for='country') Kraj
              .col-sm-4
                input.form-control(type='text', name='country', id='country', value='#{user.profile.country}', autocomplete='off')
            .form-group
              label.col-sm-2.control-label(for='gravatar') Zdjęcie
                //- p.small
                  a.small(href='')
                    i.fa.fa-times
                    | Usuń
              .col-sm-4.pt10
                .clearfix.mb10
                  img.img-rounded(src="#{user.gravatar()}", class='profile', width='100', height='100')
                .clearfix
                  input(type='file', name='filename')
            //- if user.isVerified
              .form-group
                label.col-sm-2.control-label(for='background') Tło
                  if user.backgroundFileName
                    p.small.backgroundEvent
                      a.small.bind(href='', onclick='$("#removeBackground").val("1");$(".backgroundEvent").hide()')
                        i.fa.fa-times
                        | Usuń
                .col-sm-4.pt10
                  - if (user.background())
                    .clearfix.backgroundEvent
                      img.img-responsive(src="#{user.background()}", height='100')
                  .clearfix
                    input(type='file', name='background')

            if user.isVerified
              .form-group
                label.col-sm-2.control-label(for='website') Strona bloga
                .col-sm-10
                  input.form-control(type='text', name='website', id='website', value='#{user.profile.website}', autocomplete='off')
              .form-group
                label.col-sm-2.control-label(for='about') O mnie
                .col-sm-10
                  textarea.form-control(rows='5', name='about', id='about') #{user.profile.about}
              .form-group
                label.col-sm-2.control-label(for='twitter') Twitter URL
                .col-sm-10
                  input.form-control(type='text', name='links[twitter]', id='twitter', value='#{user.links.twitter||""}', autocomplete='off')
              .form-group
                label.col-sm-2.control-label(for='facebook') Facebook URL
                .col-sm-10
                  input.form-control(type='text', name='links[facebook]', id='facebook', value='#{user.links.facebook||""}', autocomplete='off')
              .form-group
                label.col-sm-2.control-label(for='youtube') YouTube URL
                .col-sm-10
                  input.form-control(type='text', name='links[youtube]', id='youtube', value='#{user.links.youtube||""}', autocomplete='off')
              .form-group
                label.col-sm-2.control-label(for='instagram') Instagram URL
                .col-sm-10
                  input.form-control(type='text', name='links[instagram]', id='instagram', value='#{user.links.instagram||""}', autocomplete='off')


            .form-group
              .col-sm-offset-2.col-sm-4
                button.btn.btn-danger(type='submit') Zapisz zmiany


    //- section.mt50
      h3.m0 FAQ
      hr

      h4 I'm blogger. How ShopByBlog works for me?
      p Product Hunt surfaces the best new products, every day. It's a place for product-loving enthusiasts to share and geek out about the latest mobile apps, websites, hardware projects, and tech creations.

      p You can read more about our story on <a href="http://pando.com/2013/12/04/can-the-democratic-power-of-a-platform-like-hacker-news-be-applied-to-products/" target="_blank">PandoDaily</a>, <a href="http://www.fastcolabs.com/3023152/open-company/the-wisdom-of-the-20-minute-startup" target="_blank">Fast Company</a>, <a href="http://techcrunch.com/2014/06/04/product-hunt-is-the-social-news-site-of-tech-products-read-by-influential-people/" target="_blank">TechCrunch</a>, <a href="http://thenextweb.com/insider/2014/06/05/product-hunt-is-leveling-the-playing-field-to-help-good-apps-and-startups-get-attention/" target="_blank">The Next Web</a>, <a href="http://www.businessinsider.com/product-hunt-2014-6" target="_blank">Business Insider</a>, <a href="http://www.foxbusiness.com/on-air/risk-and-reward/index.html#/v/3639940132001" target="_blank">Fox Business</a>, and <a href="http://www.forbes.com/sites/sethporges/2014/07/03/the-creator-of-product-hunt-spills-the-hit-sites-dirty-details" target="_blank">Forbes</a>.</p>



block js
  script.
    //- var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

    //- var barChartData = {
    //-   labels : ["January","February","March","April","May","June","July"],
    //-   datasets : [
    //-     {
    //-       fillColor : "rgba(220,220,220,0.5)",
    //-       strokeColor : "rgba(220,220,220,0.8)",
    //-       highlightFill: "rgba(220,220,220,0.75)",
    //-       highlightStroke: "rgba(220,220,220,1)",
    //-       data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
    //-     },
    //-     {
    //-       fillColor : "rgba(151,187,205,0.5)",
    //-       strokeColor : "rgba(151,187,205,0.8)",
    //-       highlightFill : "rgba(151,187,205,0.75)",
    //-       highlightStroke : "rgba(151,187,205,1)",
    //-       data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
    //-     }
    //-   ]

    //- }
    window.onload = function(){
      //- var ctx = document.getElementById("canvas").getContext("2d");
      //- window.myBar = new Chart(ctx).Line(barChartData, {
      //-   responsive : true,
      //-   maintainAspectRatio: false,
      //-   scaleShowGridLines : false,
      //-   bezierCurve : false
      //- });
    }

