p.mb0.mt15.lato.lato400.small.align-center
  ul.list-unstyled.list-inline.small.m0
    li
      a(href='/signup') <u>#{__("Registration is FREE")}</u>
    li |
    li
      a(href='/about') #{__('About')}
    li |
    li
      a(href='/for-bloggers') #{__("Add your blog")}
    //- li |
    //- li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown') #{__('Change language')} &nbsp;
        i.caret
      ul.dropdown-menu
        li
          a(href='/en') #{__('English')}
        li
          a(href='/pl') #{__('Polish')}
