extends ../layout.dashboard.jade

block content
  .container

    .page-header.mt20
      h3 USERS

    //- .row.mb10
      .col-sm-8.mb10
        ul.list-unstyled.list-inline.m0.list-on-left
          li
            .btn-group
              button.btn.btn-default(type='button') All users
              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') All users
                li
                  a(href='#') Users
                li
                  a(href='#') Moderators
                li
                  a(href='#') Admins
      .col-sm-4.align-right.mb10
        .search-area(style='position:relative;display:block')
          .search-icon(style='position:absolute;top:7px;left:10px;')
            i.fa.fa-search.notimp
          input.form-control(type='search', placeholder='Search for users...', style='border-radius:20px;padding-left:25px;')

    .row.mb20
      .col-sm-12
        table.table.m0
          if pagination
            thead
              tr
                th(width='100%', colspan='3')
                  p.m0 Found <strong>#{pagination.total}</strong> users
          tbody
            each profile, i in users
              tr
                td.align-middle(width='40', nowrap)
                  a(href='/u')
                    img.img-circle(src='#{profile.gravatar()}', width='50')
                td(width='100%', valign='top')
                  p.m0.imp
                    a(href='') #{profile.profile.name || profile.email || profile.id}
                  p.m0 #{profile.getRole()}
                  .clearfix
                    ul.list-unstyled.list-inline.m0.list-on-left
                      li <strong>2</strong> upvotes
                td(align='right', nowrap)
                  ul.list-unstyled.list-inline.list-on-left.m0.list-on-right
                    li
                      a.btn.btn-default(href='/dashboard/users/edit/#{profile.id}') Edit
                    li
                      a.btn.btn-default(href='') Remove
