doctype true
html
  head
    title
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=320, target-densitydpi=device-dpi")
  body
    table(border="0", cellspacing="0", cellpadding="0", width="100%", style="background-color:#eeeeee")
      tbody
        tr
          td
            table(border="0", cellspacing="0", cellpadding="0", align="center", style="width:640px;padding-left:20px;padding-right:20px;border-collapse:separate")
              tbody
                tr
                  td(style="height:20px")
                    div(style="min-height:20px;min-height:20px;max-height:20px;vertical-align:top;overflow:hidden")
                tr
                  td
                    table(border="0", cellspacing="0", cellpadding="0", align="center", width="100%")
                      tbody
                        tr
                          td
                            table(border="0", cellspacing="0", cellpadding="0", align="center", width="100%", style="background:#ffffff;border-radius:6px")
                              tbody
                                tr
                                  td(align="center")
                                    table(cellspacing="0", cellpadding="0", width="500px", align="center", style="padding:30px 40px 30px 40px")
                                      tbody
                                        tr
                                          td(align="center", style="text-align:center")
                                            a(href="#{sbb.website}?utm_source=Logo&utm_medium=Email&utm_campaign=WelcomeUser", target="_blank")
                                              img.CToWUd(src="https://s3.amazonaws.com/shopbyblog/public/img/logo_rss_png_128.png", width="100", border="0", style="width:100px;vertical-align:bottom", alt="ShopByBlog")
                                            p(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:center;text-decoration:none;display:block;border-radius:4px;color:#5b5b5b;padding:0;margin:15px 0 0 0;font-size:15px;white-space:nowrap") Wybierz si&#281;&#160;na zakupy z ulubionymi blogerami
                            table
                              tbody
                                tr
                                  td(height="10")
                            table(border="0", cellspacing="0", cellpadding="0", align="center", width="100%", style="background:#ffffff;border-radius:6px")
                              tbody
                                tr
                                  td(align="center")
                                    table(cellspacing="0", cellpadding="0", width="500", align="center", style="margin:0 50px;padding:0")
                                      tbody
                                        tr
                                          td(height="30")
                                        tr
                                          td
                                            table(cellspacing="0", cellpadding="0", width="500", align="center")
                                              tbody
                                                tr
                                                  td
                                                    table(cellspacing="0", cellpadding="0", width="100%")
                                                      tbody
                                                        tr
                                                          td(width="100%", valign="top")
                                                            block content

                                                            br
                                                            p(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;color:#666;font-weight:normal;margin:4px 15px 4px 0") Pozdrawiamy,
                                                            p(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;color:#666;font-weight:normal;margin:4px 15px 4px 0") Ekipa ShopByBlog
                                                            p(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;color:#666;font-weight:normal;margin:4px 15px 4px 0") #{sbb.website}
                                    table(cellspacing="0", cellpadding="0", width="100%", align="center")
                                      tbody
                                        tr
                                          td(height="37")
                                        tr
                                          td(style="border-top:1px solid #eeeeee;padding:40px 50px 40px 50px")
                                            span(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;color:#424242")
                                              a(style="text-decoration:none;color:#ffffff", href="#{sbb.website}?utm_source=CTA&utm_medium=Email&utm_campaign=WelcomeUser", target="_blank")
                                                div(style="width:500px;padding:20px 0;border-radius:3px;text-align:center;text-decoration:none;background-color:#000000;color:#ffffff;font-weight:bold;font-size:18px;white-space:nowrap") Przejd&#378; do ShopByBlog
                        tr
                          td(height="18")
                        tr
                          td
                            table(border="0", cellspacing="0", cellpadding="0", align="center", width="100%", style="padding-bottom:10px")
                              tbody
                                tr
                                  td(valign="top", width="127")
                                    a(href="#{sbb.website}?utm_source=LogoFooter&utm_medium=Email&utm_campaign=WelcomeUser", title="ShopByBlog", target="_blank")
                                      img.CToWUd(src="https://s3.amazonaws.com/shopbyblog/public/img/logo_rss_txt_lg.png", height="28", border="0", alt="ShopByBlog")
                                  td(valign="top", align="right", width="*", style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:11px;line-height:15px;color:#9d9d9d")
                                    span Pu&#322;awska 257/125
                                    span &nbsp; 02-769 Warszawa
                                    br
                                    a(href="#{sbb.website}/settings?utm_source=Settings&utm_medium=Email&utm_campaign=WelcomeUser", style="color:#666;text-decoration:none;font-weight:bold", target="_blank") Ustawienia
                tr
                  td(style="height:20px")
                    div(style="min-height:20px;min-height:20px;max-height:20px;vertical-align:top;overflow:hidden")
