extends ../layout

block content
  .container
    .clearfix.container-fix
      .page-header.m0
        h3.m0 #{product.permalink?'PRODUKT: '+product.title:'DODAJ NOWY PRODUKT'}

      //- .clearfix
        ul.list-unstyled
          li You have to be verified user as blogger to post new products, if not find latest products, find out why, claim your blog.
      .clearfix.mt20
        form.form-horizontal(role='form', action='/add', method='post', enctype='multipart/form-data')
          input(type='hidden', name='_csrf', value=_csrf)
          input(type='hidden', name='mode', value=product.permalink?'edit':'add')
          input(type='hidden', name='id', value=product.permalink?product.id:'')
          //- - if (user.role>=2)
            .form-group
              label(class='col-sm-2 control-label', for='inspiredBy') Inspired By
              .col-sm-8
                input.form-control(type='text', name='inspiredBy', id='inspiredBy', placeholder='Enter blog name')
          .form-group
            label(class='col-sm-2 control-label', for='image_source') Zdjęcie
            .col-sm-8
              if product.imageFileName
                .clearfix
                  img.img-thumbnail(src='#{imagesUrl}/images/l_#{product.imageFileName}', width='200', height='200')
              ul.list-unstyled(id='image_source')
                li(id='image_source_upload_area')
                  //- label(class='checkbox')
                    input(type='radio', name='image_source', id='image_source_upload', value='upload', onchange='switchShow("image_source", "image_source_upload")', checked)
                    span &nbsp; Upload image from my device
                  .clearfix.mt5
                    input(type='file', name='filename')
                //- li(id='image_source_url_area')
                  label(class='checkbox')
                    input(type='radio', name='image_source', id='image_source_url', value='url', onchange='switchShow("image_source", "image_source_url")')
                    span &nbsp; Download image from a different URL
                  .clearfix.mt10.hide
                    input.form-control(type='text', name='image_url', id='image_url', placeholder='Enter image URL', autocomplete='off')
              .clearfix
                p.imp.mt5 Jakie zdjęcie dodać?
                ul.list-unstyled.small
                  li
                    i.fa.fa-check
                    | <u>Zdjęcie w formacie kwadratu, tak jak np. na Instagram</u>. Jeżeli będzie w innym formacie to automatycznie zostanie dopasowane do wymaganych wymiarów.
                  li
                    i.fa.fa-check
                    | <u>Zdjęcie pokazujące konkretny produkt</u>. Ważne, aby Twoi czytelnicy mogli klikać w produkt, który ich interesuje.
          .form-group
            label(class='col-sm-2 control-label', for='postUrl') Adres do bloga/postu
            .col-sm-8
              input.form-control(type='text', name='postUrl', id='postUrl', placeholder='Wprowadź adres strony do wpisu na blogu', value=product.postUrl||user.profile.website, autocomplete='off', autofocus=true)
              .clearfix.mt5
                p.imp Jakie link wpisać?
                ul.list-unstyled.small
                  li
                    i.fa.fa-check
                    | Jeżeli dodawany produkt opisywany był na Twoim blogu, wpisz tu dokładny link do tego posta. Dzięki temu czytelnicy łatwiej znajdą więcej informacji/opinii o interesującym ich produkcie.
                  li
                    i.fa.fa-check
                    | Jeżeli dodawany produkt chcesz polecić a nie był on opisywany na stronach Twojego bloga, wystarczy jak wpiszesz link do swojego bloga.
                  li
                    i.fa.fa-check
                    | <u>Pamiętaj! Nie wpisuj tutaj linku do konkretnego sklepu, ponieważ to sklepy wykupią przy Twoim produkcie linki sponsorowane.</u>
          //- .form-group
            label(class='col-sm-2 control-label', for='section') Category
            .col-sm-8
              label.radio.radio-inline
                input(type='radio', checked=product.section==1, name='section', value='1', data-toggle='radio')
                span For Him
              label.radio.radio-inline
                input(type='radio', checked=product.section==2, name='section', value='2', data-toggle='radio')
                span For Her
              label.radio.radio-inline
                input(type='radio', checked=product.section==3, name='section', value='3', data-toggle='radio')
                span Home &amp; Design
          .form-group
            label(class='col-sm-2 control-label', for='title') Nazwa produktu
            .col-sm-8
              input.form-control(type='text', name='title', id='title', placeholder='Wprowadź nazwę produktu', value=product.title, autocomplete='off')
          .form-group
            label(class='col-sm-2 control-label', for='body') Krótki opis
            .col-sm-8
              input.form-control(type='text', name='body', id='body', placeholder='Wprowadź krótki opis / opinię', value=product.body, autocomplete='off')
              .clearfix.mt5
                ul.list-unstyled.small
                  li
                    i.fa.fa-check
                    | Wpisz którki opis, swoją opinię o tym produkcie, która dodatkowo zachęci Twoich czytelników.
          //- .form-group
            label(class='col-sm-2 control-label', for='url') Product URL
            .col-sm-8
              input.form-control(type='text', name='url', id='url', placeholder='Enter product URL', value=product.url, autocomplete='off')
              //- .clearfix.mt15
                button.btn.btn-sm.btn-default(type='button', onclick='grabUrl($("#url").val())') Grab data from URL...
                span.lm10(id='grab_msg')
          if product.title
            .form-group
              label(class='col-sm-2 control-label', for='image_source')
              .col-sm-8
                a.notimp(href='/product/#{product.permalink}/remove') Usuń ten produkt...
          //- if (user.role>=2)
            hr.hr-label.hr-red
            .clearfix.sn-label.sn-label-red.align-center.mb10.lato700
              i.fa.fa-lock
              | Admin Area
            .form-group
              label(class='col-sm-2 control-label', for='tags') Tagi
              .col-sm-8
                input.form-control(type='text', name='tags', id='tags', placeholder='Enter tags', value=product.getTags(), autocomplete='off')
          .form-group
            .col-sm-offset-2.col-sm-8
              ul.list-unstyled.list-inline.m0.list-on-left
                li.processBtns
                  button.btn.btn-danger(type='submit', onclick='processForm()')
                    | Zapisz zmiany
                li.processBtns
                  button.btn.btn-default(type='button', onclick='location="#{product.permalink?"/product/"+product.permalink:"/"}"')
                    | Anuluj
                li.hid.processInProgress
                  button.btn.btn-default(type='button')
                    i.fa.fa-circle-o-notch.fa-spin
                    | #{__('Please wait...')}

block js
  script.
    function processForm() {
      $('.processBtns').addClass('hid');
      $('.processInProgress').removeClass('hid');
    }