extends ../../layout/default

block content
  p(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;color:#666;font-weight:normal;margin:4px 15px 4px 0") Gratulacje,
  br
  p(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;color:#666;font-weight:normal;margin:4px 15px 4px 0") Informujemy, że Twoje konto blogera zostało aktywowane.
  br
  p(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;color:#666;font-weight:normal;margin:4px 15px 4px 0") 1. Przejdź do swojego profilu: #{sbb.website}/#{user.permalink}
  p(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;color:#666;font-weight:normal;margin:4px 15px 4px 0") 2. Dodaj polecene produkty do swojego produktu: #{sbb.website}/add
  p(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;color:#666;font-weight:normal;margin:4px 15px 4px 0") 3. Umieść widget na swoim blogu: #{sbb.website}/widgets/blogger?eid=#{user._id}
  br
  p(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;color:#666;font-weight:normal;margin:4px 15px 4px 0") W przypadku problemów lub pytań prosimy o kontakt.