extends ../layout

block content
  script.
    ga('sbb.send', 'event', 'Sale', 'Popular Placements', 'blogger_#{campaign.blogger._id}');
    ga('sbb.send', 'event', 'Sale', 'Potential Products', 'product_#{campaign.product._id}');
  .container
    .clearfix.container-fix.container-fb.p15
      .page-header.m0
        h3.m0 #{__('ORDER SPONSORED LINK')}

      .row.mt20
        .col-sm-12
          form.form-horizontal(id='orderForm', role='form', method='post', enctype='multipart/form-data')
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='invoiceCurrencyCode', value='#{currentLang=="pl"?"PLN":"EUR"}')
            input(type='hidden', name='demo', value='#{demo?"1":"0"}')
            .form-group
              label(class='col-sm-2 control-label', for='url')
              .col-sm-8
                p.imp.m0 #{__('Enter URL to website where customer can buy selected product.')}
            .form-group.p15.bg-clouds.mb0
              label(class='col-sm-2 control-label', for='url') #{__('URL')}
              .col-sm-8
                input.form-control(type='url', name='url', id='url', value=campaign.url, placeholder='#{__("Enter URL to website")}', autocomplete='off', autofocus=true)
            .form-group.p15.bg-clouds.mt0
              label(class='col-sm-2 control-label', for='url') Twój e-mail
              .col-sm-8
                input.form-control(type='email', name='email', id='email', value=campaign.email, placeholder='Wpisz adres e-mail na który wyślemy potwierdzenie', autocomplete='off', autofocus=true)
            .form-group
              label(class='col-sm-2 control-label', for='url') &nbsp;
              .col-sm-8
                p.mb0.imp.color-red #{__('Estimated price per day')}: #{currentLang=='pl'?pricing[0].totalPerDayFormatted:pricing[0].euro.totalPerDayFormatted} brutto
                p.mt0.mb0 Liczba unikalnych użytkowników: <strong>#{formatNumber(campaign.blogger.blogger.last12mPageUniqueUsers)} / miesiąc</strong>
                p.mt0 Liczba odsłon: <strong>#{formatNumber(campaign.blogger.blogger.last12mPageUniqueViews)} / miesiąc</strong>

                .clearfix
                  p.imp #{__('What you will get')}:
                  .clearfix
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-red
                        | Przekierowanie na podany link, po kliknięciu w produkt <strong>#{campaign.product.title}</strong> na stronie: <strong>#{campaign.blogger.profile.website}</strong>
                      //- li
                        i.fa.fa-check.color-red
                        | Twój link będzie wyświetlany na stronie produktu na czas kampanii
                      //- li
                        i.fa.fa-check.color-red
                        | Informacja o Twoim linku zostanie rozesłana w cotygodniowym newsletterze do osób obserwujących profil blogera
                  //- p.m0 Średnia liczba wyświetleń bloga: <strong>#{sprintf('%.0f', campaign.blogger.blogger.last12mPageUniqueViews/12)} / miesiąc</strong>
                .clearfix
                  p.imp #{__('Select your option')}:
                .clearfix
                  table.table.table-striped.table-bordered(width='100%')
                    //- tr
                      td(width='30')
                        input(type='radio', name='days', value='5', id='days-5')
                      td(width='200')
                        label(for='days-5') #{__('5 days')}
                      td
                        label(for='days-5') #{currentLang=='pl'?pricing[0].totalBruttoFormatted:pricing[0].euro.totalBruttoFormatted}
                    //- tr
                      td
                        input(type='radio', name='days', value='10', id='days-10')
                      td
                        label(for='days-10') #{__('10 days')}
                      td
                        label(for='days-10') #{currentLang=='pl'?pricing[1].totalBruttoFormatted:pricing[1].euro.totalBruttoFormatted}
                    tr
                      td(width='20')
                        input(type='radio', name='days', value='15', id='days-15')
                      td.imp
                        label(for='days-15') #{__('15 days')}
                        span &nbsp;&nbsp;
                        //- span.badge
                          i.fa.fa-star
                          //- span.color-black #{__('Popular')}
                      td.imp
                        label(for='days-15') #{currentLang=='pl'?pricing[2].totalBruttoFormatted:pricing[2].euro.totalBruttoFormatted}
                    //- tr
                      td
                        input(type='radio', name='days', value='20', id='days-20')
                      td
                        label(for='days-20') #{__('20 days')}
                      td
                        label(for='days-20') #{currentLang=='pl'?pricing[3].totalBruttoFormatted:pricing[3].euro.totalBruttoFormatted}
                    //- tr
                      td
                        input(type='radio', name='days', value='25', id='days-25')
                      td
                        label(for='days-25') #{__('25 days')}
                      td
                        label(for='days-25') #{currentLang=='pl'?pricing[4].totalBruttoFormatted:pricing[4].euro.totalBruttoFormatted}
                    tr
                      td
                        input(type='radio', name='days', value='30', id='days-30', checked='checked')
                      td
                        label(for='days-30') #{__('30 days')}
                      td
                        label(for='days-30') #{currentLang=='pl'?pricing[5].totalBruttoFormatted:pricing[5].euro.totalBruttoFormatted}


            .form-group.mb0.mt20
              .col-sm-offset-2.col-sm-8
                ul.list-unstyled.list-inline.m0.list-on-left
                  li
                    button.btn.btn-danger(type='submit')
                      | #{__('Verify & Pay')}
                  li
                    a.btn.btn-link(href='/')
                      | #{__('Cancel')}

            .form-group.mb0.mt20
              .col-sm-offset-2.col-sm-8
                .clearfix
                  p.m0.imp.small #{__('Have a questions? Write us')} <a href="/contact">#{__('hello@shopbyblog.com')}</a>

//-
  include faq.jade

block js

  script.
    var validator = new FormValidator('orderForm', [
      {
        name: 'url',
        rules: 'required'
      },
      {
        name: 'email',
        rules: 'required'
      }
    ], function(errors, event) {
      if (errors.length > 0) {
        $('.p-err').remove();
        for(i=0;i<=errors.length-1;i++) {
          $('#'+errors[i].id).before('<p class="p-err small color-red">'+errors[i].message+'</p>');
        }
      }
    });
    validator.setMessage('required', '#{__("The %s field is required.")}');